<div class="row">
    <ul *ngFor="let service of services">
        <li class="card text-white bg-success mb-3 text-center service-card" (click)="redirectToApp(service.url)"
            [ngClass]="{'bg-success': service.status === 'up', 'bg-danger': service.status === 'down'}">
            <div class="card-body service-title">
                <h4 class="card-title font-weight-bold">{{service.name}}</h4>
            </div>
            <p class="card-subtitle">{{service.type}}</p>
            <p class="card-subtitle pad">{{service.version}}</p>
        </li>
    </ul>
</div>
